@import './css/form.scss';

$blue: #2196f3;
$pink: #f50057;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    background-color: $blue;
}