@import './pages/Register.scss';

$white: #F2DFD7;
$purple: #545775;
$blue: #5FA8D3;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}